* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#latitude, #longitude {
  font-weight: 100;
  font-size: 36px;
  text-align: center;
  width: 100%;
  color: black;
}

#latitude.color {
  color: yellow;
}
