@let clueTokens = _clueTokens();
@let toWordIsIncludedInClue = _toWordIsIncludedInClue();
@let toWord = this.toWord();

<p>
  @for (clueToken of clueTokens; track $index) {
    @switch (clueToken.type) {
      @case ("normal") {
        <span>{{ clueToken.text }}</span>
      } @case("from") {
        <app-clue-special-token [text]="clueToken.text" type="from" />
      } @case("to") {
        <app-clue-special-token [text]="clueToken.text" type="to" />
      }
    }
  }

  @if (!toWordIsIncludedInClue) {
    →
    <app-clue-special-token [text]="toWord" type="to" />
  }
</p>
