* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAFAFA;
}

.wrapper {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 150px;
}

.card {
  width: 500px;
  margin: 0 0 20px 0;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.card.hidden {
  opacity: 0;
}

.card .thumbnail {
  height: 221px;
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  background-color: #E91E63;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .thumbnail img {
  margin: 0;
  padding: 0;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  pointer-events: none;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

.card .footer {
  padding: 25px 0 25px 18px;
  position: relative;
}

.card .footer a {
  text-decoration: none;
  color: #E91E63;
  font-weight: 500;
  background-color: transparent;
  padding: 7px;
}

.card .footer .experimental {
  height: 20px;
  width: 20px;
  background-color: #FBC02D;
  border-radius: 2px;
  position: absolute;
  top: 24.5px;
  right: 50px;
  cursor: pointer;
}

.card .footer .experimental::after {
  content: attr(data-tooltip);
  background-color: #FBC02D;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 225px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -45px;
  left: 50%;
  transition: transform 200ms ease, opacity 200ms ease;
  transform: translateX(-50%) translateY(15px);
  opacity: 0;
  pointer-events: none;
}

.card .footer .experimental:active::after {
  transform: translateX(-50%);
  opacity: 1;
}

@media screen and (max-height: 700px) {
  .container {
    padding-top: 100px;
  }

  .card .footer .experimental {
    display: none;
  }
}

@media screen and (max-height: 400px) {
  .container {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    padding-top: 100px;
  }
}
