* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
}

.wrapper {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 150px;
}

.card {
  width: 500px;
  margin: 0 0 20px 0;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.card.hidden {
  opacity: 0;
}

.card .thumbnail {
  height: 221px;
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.card .thumbnail img {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 500px;
  margin-left: -250px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  pointer-events: none;
}

.card .footer {
  padding: 25px 0 25px 18px;
}

.card .footer a {
  text-decoration: none;
  color: #E91E63;
  font-weight: 500;
  background-color: transparent;
  padding: 7px;
}

@media screen and (max-height: 700px) {
  .container {
    padding-top: 100px;
  }
}

@media screen and (max-height: 400px) {
  .container {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    padding-top: 100px;
  }
}
