* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {

}

.wrapper {
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab";
  font-weight: 300;
  display: flex;
  align-items: center;
  opacity: 1;
  will-change: opacity;
  transition: opacity 500ms ease;
  background-color: #2196F3;
  margin-top: 0;
  padding-top: 50px;
}

.wrapper.fade-out {
  opacity: 0;
}

.container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

#logo {
  height: 175px;
  width: 100%;
  display: block;
  left: 0;
  transform: translateX(-100%);
  transition: transform 3s cubic-bezier(.03,.93,1,.12);
  will-change: transform;
}

#logo.visible {
  transform: translateX(100%);
}

#logo text {
  font-family:  "Roboto Slab", sans-serif;
  font-style: normal;
}

#cursor {
  opacity: 1;
  transition: opacity 30ms 400ms linear;
}

#cursor.invisible {
  opacity: 0;
}

#story {
  height: auto;
  width: 100%;
  display: block;
  color: white;
  width: 90%;
  margin: auto;
  text-align: left;
  font-size: 24px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  line-height: 40px;
}

#story.visible {
  opacity: 1;
}

p {
  color: white;
}

#space {
  opacity: 0;
  font-style: italic;
  transition: opacity 400ms ease;
}

#space.visible {
  opacity: 0.9;
}
