* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #2196F3;
}

.wrapper {
  height: 100%;
  width: 100%;
  font-family: "Roboto Slab";
  font-weight: 300;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

#text {
  text-align: center;
  color: white;
  flex: 1;
}

#logo {
  height: 175px;
  width: 100%;
  display: block;
  left: 0;
  transform: translateX(-100%);
  transition: transform 3s cubic-bezier(.03,.93,1,.12);
  will-change: transform;
}

#logo.visible {
  transform: translateX(100%);
}

#logo text {
  font-family:  "Roboto Slab", sans-serif;
  font-style: normal;
}

#cursor {
  opacity: 1;
  transition: opacity 30ms 400ms linear;
}

#cursor.invisible {
  opacity: 0;
}
