@font-face {
  font-family: "Roboto";
  src:  url("fonts/regular/Roboto-Regular.woff2"),
        url("fonts/regular/Roboto-Regular.woff"),
        url("fonts/regular/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEEEEE;
}

.wrapper {
  transition: opacity 400ms ease;
  opacity: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper.show {
  opacity: 1;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  pointer-events: none;
}

.bubble {
  height: 50px;
  width: 30px;
  top: 0;
  position: absolute;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 400ms ease;
}

.bubble p {
  pointer-events: none;
  font-size: 16px;
  white-space: nowrap;
  z-index: 1;
  position: relative;
}

.bubble .background {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform 400ms ease;
}

.bubble textarea {
  -webkit-appearance: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -135px;
  margin-left: -100px;
  display: block;
  background-color: #FFFFFF;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.26);
  width: 200px;
  height: 120px;
  resize: none;
  border-radius: 4px;
  z-index: 2;
  padding: 5px;
  color: rgb(120, 120, 120);
  transform: translateY(30px);
}

.bubble .bubble-square {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  margin-left: -10px;
  margin-bottom: -26px;
  transform: rotate(45deg);
  z-index: 1;
}

.bubble textarea, .bubble .bubble-square {
  transition: transform 300ms ease, opacity 400ms ease;
  opacity: 0;
}

.bubble .bubble-square {
  transform: translateY(30px) rotate(45deg);
}

.bubble.show textarea, .bubble.show .bubble-square {
  opacity: 1;
}

.bubble.show textarea {
  transform: translateY(0);
}

.bubble.show .bubble-square {
  transform: rotate(45deg) translateY(0);
}

#title {
  width: 127px;
}

#title p {
  color: #FFFFFF;
}

#title .background {
  background-color: #E91E63;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  border: 0;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

header {
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  padding-top: 10px;
  z-index: 1;
}

header button {
  background-color: transparent;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  pointer-events: none;
  margin-left: -70px;
}

header button i {
  color: #E91E63;
  font-size: 30px !important;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  padding-left: 6px;
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

header button i .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  transition: transform 200ms ease;
  transform: scale(0);
  pointer-events: none;
  z-index: -1;
  border-radius: 50%;
}

header button i:hover .background {
  transform: scale(1);
}

header button .tooltip {
  background-color: transparent;
  border-radius: 2px;
  padding: 7px;
  transition: opacity 300ms ease;
  opacity: 0;
  color: rgb(120, 120, 120);
  white-space: nowrap;
}

header button:hover .tooltip {
  opacity: 1;
}

#add_remove_instructions {
  background-color: transparent;
  display: block;
  padding: 0;
  border-radius: 0;
  text-align: center;
  position: fixed;
  top: 20%;
  width: 100%;
  transition: opacity 400ms ease;
  opacity: 0;
}

#add_remove_instructions.show {
  opacity: 1;
}

#add_remove_instructions p {
  color: rgb(100, 100, 100);
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 2px solid rgb(120, 120, 120);
  display: inline-block;
  padding: 0 10px 10px 10px;
}
