/* Variables */
:root {
    --max-width: 40rem;
    --line-height: 160%;
    --heading-font: 'Roboto', sans-serif;
    --text-font: 'Muli', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    color: #212121;
}

p {
    color: #424242;
    line-height: var(--line-height);
    padding: 0 0.7rem;
}

section {
    padding: 0 1rem;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(33, 33, 33, 0.1);
}

#introduction_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: var(--max-width);
    margin: 0 auto 1rem auto;
}   

#page_title {
    font-family: var(--heading-font);
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
    margin-bottom: 0;
    padding-bottom: 0.4rem;
    font-weight: 100;
}

#page_subtitle {
    font-weight: 400;
    max-width: 40rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: var(--line-height);
    text-align: center;
}

#license_text {
    margin-top: 0;
    padding-top: 0;
    max-width: var(--max-width);
    text-align: center;
}

noscript p {
    color: #DC3545;
    font-weight: 600;
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
}

.section-heading {
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
    font-size: 1.7rem;
    font-family: var(--heading-font);
    width: 100%;
    font-weight: 700;
}

#album_section {
    width: 100%;
    margin: auto;
    max-width: 55rem;
    padding: 0;
}

#albums_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.album {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.album .card-img-container {
    height: 15rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    will-change: transform;
    transition: transform 400ms ease;
}

.album:hover .card-img-container {
    transform: scale(1.05);
}

.album .card-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.album h3, .album p {
    color: #FFFFFF;
}

.album .card-title {
    font-family: var(--heading-font);
    font-weight: 100;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.album .card-description {
    font-weight: 300;
}

.album .date-created {
    font-weight: 300;
}

@media screen and (max-width: 700px) {
    .album {
        height: 10rem;
    }

    .album .date-created {
        margin-bottom: 0;
    }

    .album .card-title {
        padding-bottom: 0.4rem;
    }

    .album .card-description {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .album {
        height: 8rem;
    }

    .album .card-title {
        font-size: 2rem;
    }
}