form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#shortcuts_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

#preview_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
