* {
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.loader {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 6px solid #242424;
  margin-left: -50%;
  margin-top: -50%;
}

.square-container {
  height: 101%;
  width: 101%;
  position: absolute;
  top: -1%;
  left: -1%;
  will-change: transform;
}

.square-container {
  transition: transform 800ms linear;
}

.square-container svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 101%;
  transition: transform 800ms ease-in-out;
  will-change: transform;
  transform: scaleY(0.2);
}

svg.open {
  transform: scaleY(5);
}
