#page_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 2rem 1rem;

  margin-left: auto;
  margin-right: auto;

  max-width: 100rem;
}

app-page-header {
  width: 100%;
}
