:root {
    --text-font: 'Muli', sans-serif;
    --heading-font: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #424242;
    overflow: hidden;
    font-family: var(--text-font);
}

#background_image_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    will-change: opacity;
    transition: opacity 400ms ease;
    opacity: 0;
}

#background_image_container.show {
    opacity: 1;
}

#background_image {
    width: 100%;
    min-width: 1200px;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: flex-end; */
    align-items: center;
    min-width: 1140px;
}

menu {
    /* background-color: rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* margin-right: 25%; */
}

menu h2 {
    padding: 0;
    font-weight: 300;
    font-size: 2.3rem;
    font-family: var(--text-font);
    margin-bottom: 1rem;
}

#song_progress {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#current_progress, #song_length {
    margin: 0;
    padding: 0;
    color: #424242;
}

#current_progress {
    margin-right: 1rem;
}

#song_length {
    margin-left: 1rem;
}

#song_progress #progress_bar {
    width: 15rem;
    height: 0.2rem;
    background-color: rgba(33, 33, 33, 0.2);
    border-radius: 100rem;
    position: relative;
}

#song_progress #progress_bar #progress_indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #424242;
    transform: scaleX(0);
    transform-origin: center left;
}

.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    font-size: 1rem;
    text-decoration: none;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease;
}

.btn:hover::after {
    opacity: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 200ms ease;
    opacity: 0;
    box-sizing: border-box;
}

.btn:focus {
    outline: none;
}

.btn:focus::before {
    opacity: 1;
}

.btn.btn-flat {
    background-color: transparent;
    color: #424242;
}

.btn.btn-circled,
.btn.btn-circled::before,
.btn.btn-circled::after {
    border-radius: 100rem;
}

.btn.btn-icon * {
    pointer-events: none;
}

.btn.btn-icon i {
    font-size: 1.7rem;
}