* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAFAFA;
}

.wrapper {
  font-family: 'Nunito', sans-serif;
  color: #424242;
}

nav {
  height: 100px;
  display: flex;
  position: fixed;
  background-color: #FAFAFA;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 300ms ease;
  opacity: 0;
  pointer-events: none;
}

nav.scroll::after {
  opacity: 1;
}

nav .logo {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .logo h1 {
  font-weight: 400;
  font-size: 48px;
  color: #E91E63;
}

nav .links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
}

nav .links button {
  margin-right: 35px;
  background-color: transparent;
  color: #424242;
  border-radius: 0;
  border: none;
  font-family: inherit;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  transition: color 200ms ease;
}

nav .links button:hover {
  color: #E91E63;
}

nav .links button.active {
  font-weight: 700;
  pointer-events: none;
}

.container {
  transition: opacity 400ms ease, transform 400ms ease;
  opacity: 0;
  transform: translateX(-40px);
  margin: 0;
}

.container.show {
  opacity: 1;
  transform: translateX(0);
}

.container h1 {
  margin: 0;
}

#scroll_arrow {
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin-left: -22.5px;
  top: initial;
  transition: opacity 400ms ease;
  pointer-events: none;
  opacity: 1;
}

#scroll_arrow.hide {
  opacity: 0;
}

#scroll_arrow i {
  color: #424242;
  font-size: 45px;
}

#scroll_arrow i.up {
  transition: transform 400ms ease-out;
  transform: translateY(-15px);
}

#scroll_arrow i.up.down {
  transition: transform 800ms ease-in-out;
  transform: translateY(15px);
}

#scroll_arrow i.up.down.initial {
  transition: transform 400ms ease-in-out;
  transform: translateY(0);
}

#scroll_arrow i.hide {
  transition: opacity 400ms ease;
  opacity: 0;
}