#presentation {
  position: relative;
  height: 600px;
  min-height: 600px;
  width: 100%;
  display: flex;
}

#presentation .image {
  height: 100%;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#presentation .image img {
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

#presentation .title {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#presentation .title h1 {
  font-size: 90px;
  color: #E91E63;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  margin-bottom: 0;
}

#presentation .title p {
  margin-top: 0;
  padding-left: 100px;
  color: #616161;
  font-size: 18px;
}

section {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 590px;
  text-align: center;
  margin-bottom: 75px;
}

section .material-icons {
  font-size: 121px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

section p {
  margin: auto;
  font-size: 20px;
  line-height: 40px;
}

@media screen and (max-width: 860px) {
  #presentation {
    flex-direction: column;
  }

  #presentation .image {
    width: 100%;
    order: 2;
    align-items: flex-start;
    padding-top: 50px;
  }

  #presentation .title {
    order: 1;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  #presentation .title h1 {
    font-size: 70px;
  }

  #presentation .title p {
    font-size: 16px;
  }

  #presentation .image {
    padding-top: 20px;
  }

  #presentation .image img {
    width: 100px;
  }

  section .material-icons {
    font-size: 95px;
  }

  section p {
    font-size: 17px;
    line-height: 34px;
  }
}