main {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;

  #intro_text {
    width: 100%;
    max-width: 30rem;

    #intro_title {
      line-height: var(--mat-sys-body-large-line-height);
    }
  }

  #actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
