@let phraseText = _phraseText();
@let clueFormField = this.clueFormField()();
@let phraseFormField = this.phraseFormField()();
@let fromWord = this.fromWord();
@let toWord = this.toWord();

<div id="row">
  <!-- Action buttons -->
  <div id="action_buttons_container">
    <button
      matIconButton
      type="button"
      [matMenuTriggerFor]="actionMenu"
    >
      <mat-icon fontIcon="more_horiz" />
    </button>

    <mat-menu #actionMenu="matMenu">
      <button mat-menu-item (click)="editClueClick.emit()">
        <mat-icon fontIcon="question_mark" />
        Edit clue
      </button>

      <button mat-menu-item>
        <mat-icon fontIcon="format_quote" />
        Edit phrase
      </button>
    </mat-menu>
  </div>

  <mat-divider [vertical]="true" />

  <!-- Clue -->
  <div id="clue_column" class="column">
    <p id="clue_label" class="label">Clue</p>

    <app-raddle-maker-clue-renderer
      [clue]="clueFormField.value()"
      [fromWord]="fromWord"
      [toWord]="toWord"
    />

    @if (clueFormField.touched() && clueFormField.invalid()) {
      @for (error of clueFormField.errors(); track error.message) {
        <p class="error-message">{{ error.message }}</p>
      }
    }
  </div>

  <mat-divider [vertical]="true" />

  <!-- Phrase -->
  <div id="phrase_column" class="column">
    <p id="phrase_label" class="label">Phrase</p>
    <p id="phrase_value" class="value">{{ phraseText }}</p>

    @if (phraseFormField.touched() && phraseFormField.invalid()) {
      @for (error of phraseFormField.errors(); track error.message) {
        <p class="error-message">{{ error.message }}</p>
      }
    }
  </div>
</div>
