@let raddleFormModel = _raddleFormModel();

<main>
  <form id="raddle_spec_form">
    <section>
      <div class="section-heading">
        <h4>Optional info</h4>
        <mat-divider />
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input matInput [formField]="_raddleForm.author" />

        @for (error of _raddleForm.author().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
    </section>

    <section>
      <div class="section-heading">
        <h4>Ladder</h4>
        <mat-divider />
      </div>

      <div id="step_cards_container">
        <div class="between-steps-actions">
          <button matButton type="button" (click)="prependStep()">
            <mat-icon fontIcon="add" /> New step
          </button>
        </div>

        @for (step of raddleFormModel.steps; track step.id) {
          <mat-card appearance="outlined">
            <mat-card-content class="step-card-content">
              <!-- Word input -->
              <mat-form-field appearance="outline" subscriptSizing="dynamic">
                <mat-label>Word {{ $index + 1 }}</mat-label>
                <input matInput [formField]="_raddleForm.steps[$index].word" class="word-input" />

                @for (error of _raddleForm.steps[$index].word().errors(); track $index) {
                  <mat-error>{{ error.message }}</mat-error>
                }
              </mat-form-field>

              <!-- Card actions -->
              @let fromWord = step.word;
              @let toWord = $last
                ? raddleFormModel.lastWord
                : raddleFormModel.steps[$index + 1].word;

              <app-raddle-maker-step-actions
                [clueFormField]="_raddleForm.steps[$index].clueToNextWord"
                [phraseFormField]="_raddleForm.steps[$index].phraseToNextWord"
                [fromWord]="fromWord"
                [toWord]="toWord"
                [showDeleteAction]="raddleFormModel.steps.length > 1"
                (editClueClick)="showEditClueDialog(step.clueToNextWord, fromWord, toWord, step.id)"
                (editPhraseClick)="showEditPhraseDialog(step.phraseToNextWord, fromWord, toWord, step.id)"
                (deleteStepClick)="showDeleteStepDialog(step.id, step.word)"
              />
            </mat-card-content>
          </mat-card>

          <div class="between-steps-actions">
            <button matButton type="button" (click)="insertStepBelow(step.id)">
              <mat-icon fontIcon="add" /> New step
            </button>

            @if (!$last) {
              <button matButton type="button" (click)="swapStepWithNext(step.id)">
                <mat-icon fontIcon="swap_vert" /> Swap
              </button>
            }
          </div>
        }

        <!-- Last word input -->
        <mat-card appearance="outlined">
          <mat-card-content class="step-card-content">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Word {{ raddleFormModel.steps.length + 1 }}</mat-label>
              <input matInput [formField]="_raddleForm.lastWord" class="word-input" />

              @for (error of _raddleForm.lastWord().errors(); track $index) {
                <mat-error>{{ error.message }}</mat-error>
              }
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <div class="between-steps-actions">
          <button matButton type="button" (click)="appendStep()">
            <mat-icon fontIcon="add" /> New step
          </button>
        </div>
      </div>
    </section>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Advanced settings</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>RNG seed</mat-label>
        <input matInput type="number" [formField]="_raddleForm.rngSeed" />
        <mat-hint>Used when shuffling the clues deterministically</mat-hint>

        @for (error of _raddleForm.rngSeed().errors(); track $index) {
          <mat-error>{{ error.message }}</mat-error>
        }
      </mat-form-field>
    </mat-expansion-panel>

    <section id="form_actions">
      <button
        matButton="tonal"
        type="button"
        (click)="askThenResetForm()"
      >
        <mat-icon fontIcon="clear_all" />
        Reset form
      </button>

      <button
        matButton="filled"
        type="button"
        (click)="generateAndShowRaddleLink()"
        [disabled]="_raddleForm().invalid()"
      >
        <mat-icon fontIcon="link" />
        Generate Raddle link
      </button>
    </section>
  </form>
</main>

<app-raddle-footer />
