main {
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  #raddle_spec_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    width: 100%;
    max-width: 30rem;

    mat-form-field {
      width: 100%;
    }

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 0.4rem;

      .section-heading {
        color: var(--mat-sys-secondary);
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 0.2rem;
        width: 100%;

        h4 {
          margin: 0;
        }
      }
    }

    #form_actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }

  mat-expansion-panel {
    width: 100%;
  }
}
