@use '@angular/material' as mat;

#page_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 2rem 1rem;

  margin-left: auto;
  margin-right: auto;

  max-width: 100rem;
}

main {
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  #intro_text {
    width: 100%;
    max-width: 30rem;
  }

  #cards {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    mat-card {
      max-width: 25rem;
    }

    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
