h1 {
  font-family: 'Josefin Sans', serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem; // the font is a little weird so I have to compensate with extra top padding
  text-transform: uppercase;
  line-height: 1em;
}
